

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!-- <a class="navbar-brand" href="#"><img class="img-thumbnail rounded-circle" src="../assets/images/logoCircular.jpg" /></a> -->

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
     <!--      <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->

 <!-- <button  class="btn btn-success" (click)="ListarAlbumServer()" >ListarAlbumServer</button>
        <button  class="btn btn-success" (click)="SetArtista()" >SetArtista</button>
        <button  class="btn btn-success" (click)="GetArtista()" >GetArtista</button>
        <button  class="btn btn-success" (click)="GetGenRes()" >GetGenRES</button>
 -->


      <li class="nav-item">
         <a class="nav-link" routerLink="/laflota">Laflota</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" routerLink="/capacitaciones">GetArtista</a>
      </li>
    <li class="nav-item">
         <a class="nav-link" routerLink="/">Infografias</a>
      </li>

       <li class="nav-item">
         <a class="nav-link" routerLink="/postulaciones">Postulaciones</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" routerLink="/ofertas-laborales">Ofertas de Trabajo</a>
      </li>

    <li class="nav-item">
         <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
        </ul>
        <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ingresar</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" routerLink="/login-google">Google</a>
        <button class="dropdown-item">Mail<a href="#" translate="LANG_ES_AR"></a></button>

      </div>
      </div>
      </div>
</nav>

<p>
  header workss2!
</p>