<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>
				Bienvenido a La Flota.
      </h3>     
      <br>
      <span>Qué descripción te identifica más: </span>
      <br><br>

			<div class="btn-group btn-group-sm" role="group">
				 
				<button class="btn btn-secondary" type="button">
					Solista
				</button> 
				<button class="btn btn-secondary" type="button">
					Banda
				</button> 
				<button class="btn btn-secondary" type="button">
					Productor
				</button> 
				<button class="btn btn-secondary" type="button">
					Sello Discográfico
				</button>
			</div>
			<form role="form">
				<div class="form-group">
          <br>
					 
					<label for="exampleInputEmail1">
						Correo electrónico
					</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="leon@gieco.com.ar" />
				</div>
				<div class="form-group">
					 
					<label for="exampleInputPassword1">
						Contraseña
					</label>
					<input type="password" class="form-control" id="exampleInputPassword1" />
				</div>
				
				<div class="checkbox">
					 
				<br>
				<button type="submit" class="btn btn-primary">
					Empezar
        </button>
      </div> 

			</form>
		</div>
		<div class="col-md-6" >	
        <div class="container d-flex h-100">

      <div class="row justify-content-center align-self-center">
			
			<dl>
				<dt>
					Al crear tu cuenta podrás:
        </dt>
				<dd>
					Adquirir cualquiera de nuestros productos y empezar a distribuir tu música.
				</dd>
			    <dd>Ver como funciona nuestro servicio y realizar un lanzamiento de prueba.</dd>
				<dd>
					Acceder a nuestro soporte pre-venta desde tu panel de control.
        </dd>
        <dd>
          Acceder a nuestros productos gratuitos.
          </dd>
				<dd>
					
				</dd>
      </dl>
      </div>
				</div>
		</div>
	</div>
</div>



