<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>
          Mi Cuenta
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>

              </th>
              <th>
                Información de Cuenta
              </th>
              <th>

              </th>
              <th>
                Estado
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                
              </td>
              <td>
                Plan Actual
              </td>
              <td>
              </td>
              <td>
               Artista  <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                  Cambiar
                </button>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                
              </td>
              <td>
                Slots de Artista usados
              </td>
              <td>

              </td>
              <td>
                0/1
              </td>
            </tr>
            <tr class="table-success">
              <td>
                
              </td>
              <td>
                Albums Disponibles
              </td>
              <td>
              </td>
              <td>
                0
              </td>
            </tr>
            <tr class="table-warning">
              <td>
                
              </td>
              <td>
                Singles Disponibles
              </td>
              <td>
                
              </td>
              <td>
                0
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
          <table class="table table-sm">
              <thead>
                <tr>
                  <th>
    
                  </th>
                  <th>
                    Información de Plan
                  </th>
                  <th>
    
                  </th>
                  <th>
                    Estado
                  </th>
                </tr>
              </thead>
              <tbody>
                  <tr class="table-danger">
                      <td>
                        
                      </td>
                      <td>
                        Estado de Plan
                      </td>
                      <td>
                        
                      </td>
                      <td>
                      Esperando Pago
                      </td>
                    </tr>
                <tr>
                  <td>
                    
                  </td>
                  <td>
                    Fecha de Inicio
                  </td>
                  <td>
                  </td>
                  <td>
                    12/11/2018
                  </td>
                </tr>
                <tr class="table-active">
                  <td>
                    
                  </td>
                  <td>
                    Fecha de Renovación
                  </td>
                  <td>
    
                  </td>
                  <td>
                    12/11/2019
                  </td>
                </tr>
                <tr class="table-success">
                  <td>
                    
                  </td>
                  <td>
                    Saldo en Cuenta
                  </td>
                  <td>
                  </td>
                  <td>
                    $0
                  </td>
                </tr>
                <tr class="table-warning">
                  <td>
                    
                  </td>
                  <td>
                    Pago Pendiente
                  </td>
                  <td>
                    
                  </td>
                  <td>
                    $1000 <button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        Pagar
                      </button>
                  </td>
                </tr>
                
              </tbody>
            </table>
      </div>
    </div>
   
  </div>