<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<!-- <div id="pag">
<div id="container">
  <div id="pagewrap">
    <div id="uno">

      <div id="already"><img class="i2" src="../assets/Imagenes/already.gif"></div>
      <div id="igna"><img class="i3" src="../assets/Imagenes/ign.gif"></div>

      <div id="li"><div class="ff"><a>about<br>
            concerts<br>
            contact</a></div><div class="redes"><a>
spotify<br>
youtube<br>
instagram<br>
</a></div>
      </div><div id="stuff"><img class="st" src="../assets/Imagenes/stuff.gif"></div><div id="boo"><div id="discos"><div id="t1"><a>already human, already<br>ALBUM out 25/9<br>
pre-order (cheaper): <br>
MP3: 7 EUR<br>
WAV: 14 EUR<br>
(incl. artwork pdf)</a></div><div id="d1"><img class="a1" src="../assets/Imagenes/disco1.gif"></div></div>
      <div id="singles"><div id="sin1"><img class="j1" src="../assets/Imagenes/disco2.gif"></div><div id="s1"><a>Just<br>SINGLE<br>
MP3: 0,9 eur </a></div></div><div id="singles2"><div id="sin2"><img class="j2" src="../assets/Imagenes/disco3.gif"></div><div id="s2"><a>S-Bahn<br>SINGLE<br>
MP3: 0,9 eur </a></div></div></div>

    </div></div></div></div> -->
    <div>




<!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<h2 *ngIf="paypalLoad">Paypal button is loading</h2> -->
<!-- <div id="paypal-checkout-btn"></div> -->
</div>

 <script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>


