
 

 
  <section class="module" id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Nuestros Planes</h2>
            <div class="module-subtitle font-serif">Creados para bandas, artistas solistas, productores y sellos discográficos.</div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-sm-6 col-md-3 col-lg-3" style="background-color:ivory">
            <div class="price-table font-alt" style="background-color:  #ffa184; color:black"  >
              <h4>ARTISTA</h4>
              <p class="small">Eiti Leda</p>
              <p class="small">1 nombre de artista</p>

              <div class="borderline"></div>
              <p class="price"><span>$</span>1500<span>al año</span>
              </p>
              <ul class="price-details">
                <li>Lanzamientos Ilimitados</li>
                <li>15 Demos Included</li>
                <li><span>Newsletter</span></li>
                <li><span>Working Contact Form</span></li>
                <li><span>Expandible</span></li>
              </ul><a class="btn btn-d btn-round" href="#">Crear Plan</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3" style="background-color:ivory">
            <div class="price-table font-alt" style="background-color: aquamarine; color:black ">
              <h4>ARTISTA ROX</h4>
              <p class="small">Sasha y Sisí</p>
              <p class="small">2 nombres de artista</p>

              <div class="borderline"></div>
              <p class="price"><span>$</span>2550<span>al año</span>
              </p>
              <ul class="price-details">
                <li>Lanzamientos Ilimitados</li>
                <li>15 Demos Included</li>
                <li>Newsletter</li>
                <li><span>Working Contact Form</span></li>
                <li><span>Expandible</span></li>
              </ul><a class="btn btn-d btn-round" href="#">CREAR PLAN</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3"style="background-color:ivory">
            <div class="price-table font-alt" style="background-color: #2fa3d1e7; color:black">
              <h4>SELLO</h4>
              <p class="small">Jardín de Gente</p>
              <p class="small">5+ nombres de artista</p>

              <div class="borderline"></div>
              <p class="price"><span>$</span>5250
                <span>al año</span></p>
              <ul class="price-details">
                <li>Lanzamientos Ilimitados</li>
                <li>15 Demos Included</li>
                <li>Newsletter</li>
                <li>Working Contact Form</li>
                <li><span>Unlimited Domains</span></li>
              </ul><a class="btn btn-d btn-round" href="#">Crear Plan</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="price-table font-alt best" style="background-color:black">
              <h4 style="color:aliceblue">Lanzamiento Permanente</h4>
              <p class="small">Albums/EPs/Singles</p>

              <div class="borderline"></div>
              <p class="price" style="color:aqua"><span>desde $</span>400
              </p>
              <ul class="price-details">
                <li>Único Pago</li>
                <li>Online para siempre/li>
                <li>Descuentos por cantidad</li>
                <li>Único en Argentina</li>
                <li>Soporte personalizado</li>
                <li>Acceso a Tienda La Flota</li>
              </ul><a class="btn btn-d btn-round" style="background-color: aqua; color:black"  href="#">VER OPCIONES</a>
            </div>
          </div>


          
        </div>
        
      </div>
    </section>
   

    <section class="home-section home-fade home-full-height" id="home">
      <div class="hero-slider">
        <ul class="slides">
          <li class="bg-dark-30 bg-dark shop-page-header" style="background-color:rgb(50, 214, 113)">
            <div class="titan-caption">
              <div class="caption-content">
               <div class="font-alt mb-30 titan-title-size-4"> DISTRIBUCIÓN DIGITAL DE MÚSICA</div>
                <div class="font-alt mb-40 titan-title-size-1">SPOTIFY, ITUNES, APPLE MUSIC, GOOGLE PLAY, AMAZON, DEEZER, TIDAL, PANDORA, MICROSOFT GROOVE, ETC</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
              </div>
            </div>
          </li>
          <li class="bg-dark-30 bg-dark shop-page-header" style="background-color: #ffa184">
            <div class="titan-caption">
              <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-4"> PLANES PARA ARTISTAS</div>
                <div class="font-alt mb-40 titan-title-size-1">LANZAMIENTOS ILIMITADOS, EN TODAS LAS TIENDAS, POR $1850 PESOS ARGENTINOS AL AÑO!</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
              </div>
            </div>
          </li>
    

      </ul>
    </div>
  </section>


  <section class="home-section home-fade home-full-height" id="home">
    <div class="hero-slider">
      <ul class="slides">
        <li class="bg-dark-30 bg-dark shop-page-header" style="background-color:rgb(50, 214, 113)">
          <div class="titan-caption">
            <div class="caption-content">
             <div class="font-alt mb-30 titan-title-size-4"> DISTRIBUCIÓN DIGITAL DE MÚSICA</div>
              <div class="font-alt mb-40 titan-title-size-1">SPOTIFY, ITUNES, APPLE MUSIC, GOOGLE PLAY, AMAZON, DEEZER, TIDAL, PANDORA, MICROSOFT GROOVE, ETC</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>


  <hr class="divider-w">

  <section class="module" style="background-color: lightgreen" id="que">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Qué hacemos?</h2>
            <div class="module-subtitle font-serif"></div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-lightbulb"></span></div>
              <h3 class="features-title font-alt">Ideas</h3>
              <p>Aprendemos de nuestros clientes y experiencias para mejorar y crear nuestros productos. Somos la casa de muchos músicos y sellos independientes, de todos los géneros. </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-bike"></span></div>
              <h3 class="features-title font-alt">Trabajamos rápido</h3>
              <p>Somos prolijos y obsesivos de los detalles, y somos rápidos. Nos gusta hacer nuestro trabajo bien la primera vez para poder pasar a otra cosa, si fallamos en algo somos igualmente ápidos para corregir y disculparnos.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-tools"></span></div>
              <h3 class="features-title font-alt">Subimos música</h3>
              <p>Trabajamos con las principales tiendas de streaming y venta de música del planeta Tierra.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon"><span class="icon-gears"></span></div>
              <h3 class="features-title font-alt">Estamos ahí</h3>
              <p>Siempre que nos necesites estamos ahí para responder a tus inquietudes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
