
<div class="container">
    <div class="row">
        <div class="item-block col-md-12" >
            <div class="item statistics-summary">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Assign Distributors</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <span class="select-all btn btn-default" (click)="selectAllDsps()">Select All</span>
                                <span class="select-none btn btn-default" (click)="selectNoneDsps()">Select None</span>
                            </div>

                            <span class="btn btn-primary btn-publish" (click)="publish()">Publish</span>
                            <span class="btn btn-warning btn-takedown" (click)="takeDown()">Takedown</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Album {{album.title}}</h4>
                    </div>

                </div>


<div class="row" >

    <div *ngFor="let dsp of dspList"  class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">

         <!-- <div style="background-color: gray;"> -->
         <div >


            <div class="row trackCard " >


                <!-- <div class="status-wrapper status col-1" >&nbsp;</div> -->

                        <!-- Logo -->
                        <div class="dsp-item-logo-cell col-2"  ><div class="dsp-item-logo" [ngClass]=" getclass(dsp)"></div></div>

                        <!-- Texto DSP -->
                        <div class="col-4" >
                            <!-- Link a territories -->
                     <!--        <a href="#" class="modal-trigger sel-terr-link" data-parse="true" data-size="md" data-source="https://beta.dashgo.com/juan/distribution/select_territories?album_id=45077&amp;dsp=sevendigital"></a> -->
                               <a href="#" ><span class="fas fa-globe"></span>
                                         {{dsp}}</a>
                        </div>


                        <!-- <td class="dsp-item-labels-cell">
                        </td>
                         -->

                        <!-- Estado -->

                        <div class=" col-3" >
                                        <div  class="small" *ngIf= "!dspResponceList[dsp]">Published: Never</div>
                                        <div  class="small" *ngIf= "dspResponceList[dsp]">{{dspResponceList[dsp]}}</div>
                                        <div  class="small" *ngIf= "dspStatusList[dsp]">{{dspStatusList[dsp]}}</div>
                        </div>

                    <!-- Precio -->
                        <div id="album_link_cell_sevendigital" class="small col-1" >
                    <!--             <a href="#" class="modal-trigger" data-parse="true" data-size="md" data-source="https://beta.dashgo.com/juan/distribution/select_prices?album_id=45077&amp;album_price=9.99&amp;dsp=sevendigital&amp;track_price=0.99" id="get_album_price">$9.99</a>
                     -->    </div>

                        <!-- CheckBox -->

                        <div class=" col-1" >
                                                <input  [(ngModel)]="dspVarList[dsp]" (change)="onChangeSelection(dsp)" type="checkbox"  />
                                               <!--  <img id="add_album_loader_45077_sevendigital" style="display:none" src="/images/ajax-loader-tr.gif" width="12px"> -->
                        </div>

            </div>
         </div>
    </div>
</div>


                <!-- <hr /> -->

               <!--  <div class="row">
                    <div class="col-md-2">
                        <ul>
                            <li><span class="icon icon-album-published"></span>Published</li>
                            <li><span class="icon icon-album-unpublished"></span>Unpublished</li>
                            <li><span class="icon icon-album-takedown"></span>Takedown</li>
                        </ul>
                    </div>

                    <div class="col-md-10">
                        <div class="item-prompt-cont">
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Red;">&nbsp;</span>
                                    Downloads
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Green;">&nbsp;</span>
                                    Streaming
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Purple;">&nbsp;</span>
                                    Subscription
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Yellow;">&nbsp;</span>
                                    Downloads &amp; Streaming &amp; Subscription
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Grey;">&nbsp;</span>
                                    Ringtones
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Black;">&nbsp;</span>
                                    CDAlbums
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: Blue;">&nbsp;</span>
                                    InternetRadio
                                </span>
                                <span class="badge-cont">
                                    <span class="badge badge-custom" style="background: HotPink;">&nbsp;</span>
                                    Other
                                </span>
                        </div>
                    </div>
                </div> -->

                <!-- <hr /> -->








   <br>



 <div class="row">
 <div class="col-md-6 "> </div>
 <div class="col-md-6 pull-right">
                        <!-- <div class="pull-right"> -->
                            <div class="btn-group" role="group" aria-label="...">
                                <span class="select-all btn btn-default" (click)="selectAllDsps()">Select All</span>
                                <span class="select-none btn btn-default" (click)="selectNoneDsps()">Select None</span>
                            </div>

                            <span class="btn btn-primary btn-publish" (click)="publish()">Publish</span>
                            <span class="btn btn-warning btn-takedown" (click)="takeDown()">Takedown</span>
                        <!-- </div> -->
                    </div>
                    </div>

<!-- Submited successfully-->

<div [hidden]="!submitted">

 <ngb-alert [type]="'success'" [dismissible]="false"  ><!-- [hidden]="!error"  -->
    <strong>You submitted successfully!!</strong><p>{{submittedMensage}}</p>
  </ngb-alert>
</div>

<!-- Display de un error -->
  <p>
  <ngb-alert [type]="'danger'"  [dismissible]="false" *ngIf="error"  ><!-- [hidden]="!error"  -->
    <strong>Warning!</strong><p>{{error}}</p>
  </ngb-alert>
</p>
